.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.successText {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: #FFFFFF;
  margin: 135px 0 45px -10px;
}

.backButton {
  position: absolute;
  bottom: 0;
  width: 189px;
  border-radius: 0 0 0 15px;
  background-color: #8B8B8B;
  color: #FFFFFF;
}
